<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> <ion-icon name="notifications"></ion-icon>notificaciones </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="notificacion">
    <ion-card class="custom-card">
      <img src="" alt="imagen 1">
      <div>
        <ion-title> noticia 1</ion-title>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </ion-card>
    <ion-card class="custom-card">
      <img src="" alt="imagen 2">
      <div>
        <ion-title> noticia 2</ion-title>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </ion-card>
    <ion-card class="custom-card">
      <img src="" alt="imagen 3">
      <div>
        <ion-title> noticia 3</ion-title>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </ion-card>
    <ion-card class="custom-card">
      <img src="" alt="imagen 4">
      <div>
        <ion-title> noticia 4</ion-title>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </ion-card>
    <ion-card class="custom-card">
      <img src="" alt="imagen 5">
      <div>
        <ion-title> noticia 5</ion-title>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </ion-card>
  </div>
</ion-content>
