<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>amistades .<ion-icon name="people"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="list_users">
    <ion-card>
      <ion-icon name="people"></ion-icon> 
      Amistad 1
      <div id="boton1">
        <button>ver información</button>
      </div>
    </ion-card> 
    <ion-card>
      <ion-icon name="people"></ion-icon> 
      Amistad 2
      <div id="boton2">
        <button>ver información</button>
      </div>
    </ion-card> 
    <ion-card>
      <ion-icon name="people"></ion-icon> 
      Amistad 3
      <div id="boton3">
        <button>ver información</button>
      </div>
    </ion-card> 
  </div>
</ion-content>
